body {
    margin: 0%;
    padding: 0%;
}

main {
    padding: 2%;
}

#menu {
    background-color: #ffb65d;
}

form {
    width: 45%;
}

button {
    background: rgb(241, 241, 241);
    color: black;
    border: none;
    border-radius: 7px;
    font-family: 'VT323', monospace;
    font-size: 20px
}

h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

footer section {
    background-color: #f8f9fa;
}

footer section div a {
    color: black;
    text-decoration: none;
}

footer {
    font-size: small;
    font-style: bold;
}

button:hover {
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}

.produto {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    text-decoration: underline aqua;
}

.btn-primary {
    color: black;
    font-size: 15px;
    transition: transform 200ms ease-in-out;
    border: none;
}

#pt-1 {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#categorias {
    background-color: #36BBD9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: #F2913D;
    border-radius: 10px;
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#categorias h6 {
    font-size: 40px;
}

#teste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30%;
    font-size: 30px;

}

label {
    display: flex;
    justify-content: space-between;

}

.carrosel {
    width: 800px;
    height: 500px;
    overflow: hidden;
    /* margin: 50px auto; */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrosel ul {
    display: flex;
    list-style: none;
    width: 2400px;
    height: 500px;
}

.carrosel li {
    position: relative;
    animation: slide 15s infinite ease-out;
}

@keyframes slide {
    0% {
        left: 0px
    }

    20% {
        left: 0px;
    }

    30% {
        left: -600px
    }

    50% {
        left: -600px
    }


    60% {
        left: -1800px
    }

    90% {
        left: -1800px
    }

    100% {
        left: 0px;
    }
}

#pt-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagens2 {
    width: 600px;
    height: 900px;
}

.carrosel2 {
    width: 600px;
    height: 900px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carrosel2 ul {
    display: flex;
    list-style: none;
    width: 1800px;
    height: 900px;
}

.carrosel2 li {
    position: relative;
    animation: slide 15s infinite ease-out;
}


.imagens {
    width: 900px;
    height: 600px;
}

#pt-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #f4f4f4;
}

.fil {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 310px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(29, 29, 29, 0.22);
    padding: 20px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
    border-left: 3px solid #ff0000;
    display: inline-block;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #8e9099;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;

}

.img {
    float: right;
    width: 120px;
    height: 120px;
}

.title {
    font-size: 30px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 15px;
}

.desconto {
    color: #f25;
    text-shadow: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}




/* <--------------------------------------TESTE BOTÃO--------------------------------> */

.botaocarrinho {
    background-color: black;
    color: white;
}


.cart-item {}