body {
    margin: 0%;
    padding: 0%;
}

main {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #ffb65d;
}

.titulos {
    color: #f4f4f4;
    font-weight: bold;
}

.rodape {
    background-color: #36BBD9;
    color: #ffb65d;
    padding: 5%;
}

form {
    width: 45%;
}

button {
    background: rgb(241, 241, 241);
    color: black;
    border: none;
    border-radius: 7px;

    font-size: 20px
}

h4 {
    font-size: 25px;
}

footer section {
    background-color: #f8f9fa;
}

footer section div a {
    color: white;
    text-decoration: none;
}

footer {
    font-size: small;
    font-style: bold;
}

button:hover {
    transform: scale(1.05);
    transition: transform 200ms ease-in-out;
}

.produto {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    text-decoration: underline #36BBD9;
}

.btn-primary {
    color: black;
    font-size: 15px;
    transition: transform 200ms ease-in-out;
    border: none;
}

.partes {
    margin-top: 8%;
    margin-bottom: 8%;
}

#pt-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.retrato {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#categorias {
    background-color: #36BBD9;
    color: white;
    margin-top: 19.9px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    min-width: 160px;
    min-height: 135.28px;
    max-height: 152.57px;
    width: 15%;
    box-sizing: border-box;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#categorias h6 {
    font-size: 20px;
    font-weight: bold;
}

#teste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    width: 80%;
}

#pt-2 {
    display: flex;

    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffb65d;
    padding: 2%;
}

#area-pt2 {
    display: flex;
    align-items: start;
    justify-content: space-between;

}

#pt-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: #36BBD9;
    border-style: solid;
    border-width: 4px;
    border-radius: 50px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;

}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #36BBD9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}



#cupom {
    color: #36BBD9;
    border: #36BBD9;
    border-style: dashed;
    border-width: 4px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    width: 500px;
}

#area-descontos div h4 {
    font-size: 20px;
}

#area-descontos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#area-descontos div h3{
    font-size: 30px;
    color: #ffb65d;
    font-weight: bold;
}

#cupom h5 {
    font-size: 90px;
}

#pt-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb65d;
    padding: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border: #36BBD9;
    border-style: solid;
    border-width: 4px;
    border-radius: 50px;
}

body {

    background-color: #f4f4f4;
}

.fil {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 310px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(29, 29, 29, 0.22);
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 350px;
    transition: all 0.3s ease-out;
    border-left: 3px solid #36BBD9;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card h5 {
    font-weight: bold;
}

.card a {
    background-color: #14BBE0;
    color: #000000;
    font-weight: bold;
}

.card p {
    color: #636161;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.img {
    float: right;
    width: 120px;
    height: 120px;
}

.title {
    font-size: 30px;
    text-align: center;
    color: #f4f4f4;
    font-weight: bold;

}

.desconto {
    color: #f25;
    text-shadow: black;

    font-size: 20px;
}

.text-center {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

/* <--------------------------------------TESTE BOTAO--------------------------------> */

.botaocarrinho {
    background-color: black;
    color: white;
}


.botoes{ 

    color: white;
    background-color: #36BBD9;
    border: 20px;
    border: blue;
    border-radius: 5px ;
}

.LogoMain{
width: 1000px ;
height: 450px ;
display: flex;
align-items: flex-end ;

}
